body {
	margin: 0px;
	text-align: center;
}

div {
	margin: auto;
	position: static;
	font-family: "courier";	
}

/* If JS is turned on, hide this... */
#error-need-javascript {
	height: 50px;
	visibility: visible;
	background-color: orange;
}

/* ...and show this. */
#application-container {
	width: 750px;
	height: 500px;	
	visibility: hidden;
}

#forecast-label {
	margin: 10px;
}

#spinning-circle {
	visibility: hidden;
}

.single-day {
	display: inline-block;
	padding: 25px;
}

#wul-logo {
	height: 30px;
}


/* 
	CSS spinning circle animation courtesy of 
  	http://www.andreaverlicchi.eu/css-3-only-spinning-loading-animation/
*/


@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

/* Loading animation container */
.loading {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 28px;
	height: 28px;
	margin: -14px 0 0 -14px;
}

/* Spinning circle (inner circle) */
.loading .maskedCircle {
	width: 20px;
	height: 20px;
	border-radius: 12px;
	border: 3px solid black;
}

/* Spinning circle mask */
.loading .mask {
	width: 12px;
	height: 12px;
	overflow: hidden;
}

/* Spinner */
.loading .spinner {
	position: absolute;
	left: 1px;
	top: 1px;
	width: 26px;
	height: 26px;
	animation: spin 1s infinite linear;
}
